/*
Author: Wanjia Liang
Date: 2025-09-18
*/
img {
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-width: 500px;
}


audio {
    display: block;
    margin: 0 auto;
    width: 500px;
}

video {
    display: block;
    margin: 0 auto;
    width: 500px;
}